<div class="jumbotron">
    <h1>SingleStone</h1>
    <p class="lead">This is the Web API exercise created by Archie Williams - 1/25/22.</p>
    <p class="lead"><a href="mailto:arch_the_engineer@yahoo.com">arch_the_engineer@yahoo.com</a></p>
    <p class="lead">(904)365-3344</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Thank You for providing this opportunity with SingleStone. My name is Archie Williams and I have created an API that mirrors the requested format. If there are any questions please feel free to contact me directly.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>The Challenge</h2>
        <p>
            You are being asked to create a simple contact entry system. You should create a REST API that will enable a client to perform
            CRUD operations on the contact collection.
        </p>
    </div>
    <div class="col-md-4">
        <h2>The Data</h2>
        <p>
            Provide a storage mechanism for storing the contact entries. If you use a database you do not need to include the
            database, but you should include instructions to set up and create the database.
        </p>
    </div>
</div>
