.jumbotron {
    display: block;
    position: relative;
}

    .jumbotron::after {
        content: "";
        background-color: transparent !important;
        background-image: url("../Content/Images/lights.jfif");
        background-size: cover;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        border-radius: 6px;
    }
